<section data-ng-controller="HomeController">
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success">
                        <i class="glyphicon glyphicon-user"></i>
                    </button>
                </div>
                <div class="col-xs-10">
                    20,408
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    Total Customers
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <button type="button" class="btn btn-primary"><i class="glyphicon glyphicon-calendar"></i></button>
                </div>
                <div class="col-xs-10">
                    8,382
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    Upcoming Events
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <button type="button" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i></button>
                </div>
                <div class="col-xs-10">
                    527
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    New Customers in 24H
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <button type="button" class="btn btn-info"><i class="glyphicon glyphicon-record"></i></button>
                </div>
                <div class="col-xs-10">
                    85,000
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    Emails Sent
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <button type="button" class="btn btn-warning"><i class="glyphicon glyphicon-eye-open"></i></button>
                </div>
                <div class="col-xs-10">
                    268
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    Follow Ups Required
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-2">
                    <button type="button" class="btn btn-danger"><i class="glyphicon glyphicon-flag"></i></button>
                </div>
                <div class="col-xs-10">
                    348
                </div>
            </div>
            <div class="row">
                <div class="col-xs-10 col-xs-offset-2">
                    Referrals To Moderate
                </div>
            </div>
        </div>


    </div>
</section>
